h3 {
  color: #939fab;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btncolor {
  --background: var(--ion-color-btn);
}
ion-col {
  margin-top: 200px;
  ion-button{

    margin-top: 50px;
  }
}
