* {
  margin: 0;
  padding: 0;
}
.btncolor {
  --background: var(--ion-color-btn);
}

h1 {
  margin-top: 15%;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: #939fab;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 6rem;

  app-button {
    display: block;
    margin-top: 3rem;
  }
}

.footer-text {
  text-align: center;
  font-size: 17px;
  margin-top: 45%;

  a {
    text-decoration: none;
    font-weight: 600;
    color: #645258;
  }
}
ion-content {
  --background: #f5f5f3;

  .form {
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
  }

  ion-item {
    border-radius: 50px;
    height: 55px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
    --highlight-height: 0px;
    margin-top: 15px;
    margin-bottom: 15px;

    ion-input {
      font-size: 18px;
      --padding-top: 20px;
      --padding-botto: 15px;
      --padding-start: 5px;
    }
    ion-button {
      margin-top: 35px;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
      border-radius: 50px;
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
      --box-shadow: none;
    }
  }
  /*.ion-input{

  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #e7ebee;
    border-radius: 10px;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: #171c25;
}*/
}








/** {
  margin: 0;
  padding: 0;
}
.btncolor {
  --background: var(--ion-color-btn);
}

h1 {
  margin-top: 15%;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

h3 {
  color: #939fab;
  font-weight: 600;
}

form {
  margin-top: 6rem;

  app-button {
    display: block;
    margin-top: 5rem;
  }
}

.footer-text {
  text-align: center;
  font-size: 17px;
  margin-top: 50%;

  a {
    text-decoration: none;
    font-weight: 600;
    color: #645258;
  }
  ion-content {
    --background: #f5f5f3;

    .form {
      margin-top: 70px;
      padding-left: 30px;
      padding-right: 30px;
    }

    ion-item {
      border-radius: 50px;
      height: 55px;
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
      --highlight-height: 0px;
      margin-top: 15px;
      margin-bottom: 15px;

      ion-input {
        font-size: 18px;
        --padding-top: 20px;
        --padding-botto: 15px;
        --padding-start: 5px;
      }
      ion-button {
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
      }
    }
    /*
  ion-button {
    --box-shadow: none;
    --border-radius: 10px;
    --background: #bf4515;
  
    height: 48px;
    font-size: 1rem;
    color: #fa578e;
    margin-bottom: 0.7rem;
    text-transform: initial;
  
 
  }
   
 ion-item .ion-label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    color: #939fab;
    font-size: 1rem;
    transition: 0.3s;
  }
} 
  }
}
*/